* {
    outline: 1px solid green;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.header {
    margin: 60px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
}

.right {
    margin: 0 10px;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.below-header {
    margin: 0 60px;
    display: flex;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.subtext,
.placeholder-text {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder-text {
    padding: 20px;
    background-color: grey;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.box {
    text-align: center;
    margin: 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image-container {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 120px;
}

.section-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 70px;
}

.bold-text {
    font-weight: bold;
}

.section-four {
    padding: 10px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #1f2937;
    height: 40px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}